{% extends './base.html' %}
{% load ButtonVariant %}

{% block inner-content %}
    <section class="py-20 grid grid-cols-[1fr_2fr] gap-5 max-w-screen-xl mx-auto p-4">
        {% include 'includes/dashboard_navigation.html' %}
        <div class="grid grid-cols-2 gap-5">
            <div class="p-40 rounded shadow bg-gray-100 w-full">

            </div>

            <div class="p-40 rounded shadow bg-gray-100 w-full">

            </div>

            <div class="p-40 rounded shadow bg-gray-100 w-full col-span-2">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda accusantium consequuntur sed, distinctio provident aliquid exercitationem id at repellendus! Et exercitationem enim, temporibus quasi consequuntur eius eaque architecto. In, vero.
            </div>
        </div>
    </section>

{% endblock %}